<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ouc.stu.mapper.TbApplyMapper">
  <resultMap id="BaseResultMap" type="edu.ouc.stu.model.TbApply">
    <!--@mbg.generated-->
    <!--@Table tb_apply-->
    <id column="Apply_ID" jdbcType="INTEGER" property="applyId" />
    <result column="Apply_Name" jdbcType="VARCHAR" property="applyName" />
    <result column="Apply_Phone" jdbcType="INTEGER" property="applyPhone" />
    <result column="Apply_Email" jdbcType="VARCHAR" property="applyEmail" />
    <result column="Apply_Exper" jdbcType="VARCHAR" property="applyExper" />
    <result column="Apply_Intention" jdbcType="VARCHAR" property="applyIntention" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Apply_ID, Apply_Name, Apply_Phone, Apply_Email, Apply_Exper, Apply_Intention
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_apply
    where Apply_ID = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_apply
    where Apply_ID = #{applyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="Apply_ID" keyProperty="applyId" parameterType="edu.ouc.stu.model.TbApply" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_apply (Apply_Name, Apply_Phone, Apply_Email, 
      Apply_Exper, Apply_Intention)
    values (#{applyName,jdbcType=VARCHAR}, #{applyPhone,jdbcType=INTEGER}, #{applyEmail,jdbcType=VARCHAR}, 
      #{applyExper,jdbcType=VARCHAR}, #{applyIntention,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="Apply_ID" keyProperty="applyId" parameterType="edu.ouc.stu.model.TbApply" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyName != null">
        Apply_Name,
      </if>
      <if test="applyPhone != null">
        Apply_Phone,
      </if>
      <if test="applyEmail != null">
        Apply_Email,
      </if>
      <if test="applyExper != null">
        Apply_Exper,
      </if>
      <if test="applyIntention != null">
        Apply_Intention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyName != null">
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyPhone != null">
        #{applyPhone,jdbcType=INTEGER},
      </if>
      <if test="applyEmail != null">
        #{applyEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyExper != null">
        #{applyExper,jdbcType=VARCHAR},
      </if>
      <if test="applyIntention != null">
        #{applyIntention,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.ouc.stu.model.TbApply">
    <!--@mbg.generated-->
    update tb_apply
    <set>
      <if test="applyName != null">
        Apply_Name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyPhone != null">
        Apply_Phone = #{applyPhone,jdbcType=INTEGER},
      </if>
      <if test="applyEmail != null">
        Apply_Email = #{applyEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyExper != null">
        Apply_Exper = #{applyExper,jdbcType=VARCHAR},
      </if>
      <if test="applyIntention != null">
        Apply_Intention = #{applyIntention,jdbcType=VARCHAR},
      </if>
    </set>
    where Apply_ID = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.ouc.stu.model.TbApply">
    <!--@mbg.generated-->
    update tb_apply
    set Apply_Name = #{applyName,jdbcType=VARCHAR},
      Apply_Phone = #{applyPhone,jdbcType=INTEGER},
      Apply_Email = #{applyEmail,jdbcType=VARCHAR},
      Apply_Exper = #{applyExper,jdbcType=VARCHAR},
      Apply_Intention = #{applyIntention,jdbcType=VARCHAR}
    where Apply_ID = #{applyId,jdbcType=INTEGER}
  </update>
</mapper>